<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>




    <div class="container">
    <div class="card mt-4">
        <div class="card-header text-center bg-primary  text-white">Accueil</div>

        <div class="card-body " >




            <div class="row">
                <button (click)="loadGroupes()" class="btn btn-primary col-md-2 mt-4 offset-5"> Former les groupes</button >
            </div>
            <div class="row">
              <button #enreg (click)="enregGroupe()" class="btn btn-dark col-md-2  offset-9" hidden>Enregistrer</button >
          </div>
          <div class="row">
            <div class="row g-3 align-items-center">

              <div class="col-auto">
                <input type="number" #val min="1" max="10" id="inputPassword6" class="form-control" aria-describedby="div">
              </div>
              <div class="col-auto">
                <span id="div" class="form-text">
                  Combien de groupe voulez vous ?
                </span>
              </div>
            </div>
          </div>
        </div>

    </div>

    

      
</div>








<div class="container">
  <table  hidden #tab class="table table-striped bg-secondary table-bordered table-dark mt-3">
  
    <thead>
  
      <tr>
  
        <th>Groupe</th>
        <th>Sujet</th>
        <th>Etudiants</th>
      </tr>
    </thead>
  
    <tbody>
      <ng-container *ngFor="let group of this.tabGroupeEtudiantSujet; let i = index">
        <tr>
          <td>Groupe {{i + 1}}</td>
          <li type="square">{{group[1][0].text}}</li>
          <td>
              
            <ng-container *ngFor="let student of group[0]">
              <li>  {{student.prenom}} {{student.nom}} </li>
            </ng-container>
            
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
  
  </div>

</body>
</html>
