<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<div class="container">
    <a style="margin-right: 10px;" href="http://localhost:4200/"><button  type="button" class="btn btn-dark mr-4 col-md-2  mt-4">Accueil</button></a>
    <a style="margin-right: 10px;" href="http://localhost:4200/etudiants"><button  type="button" class="btn btn-dark mr-4 col-md-2 mt-4 ">Etudiant</button></a>
    <a style="margin-right: 10px;" href="http://localhost:4200/sujets"><button  type="button" class="btn btn-dark mr-4 col-md-2 mt-4">Sujet</button></a>
    <a style="margin-right: 10px;" href="http://localhost:4200/groupe"><button  type="button" class="btn btn-dark mr-4 col-md-2 mt-4">Groupe</button></a>
  </div>
  
  

<router-outlet></router-outlet>
<body>
   <!--  <button class="btn btn-primary" (click)="getData()" > Bouton </button> -->


    
</body>
</html>